<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center">
        <img src="assets/orden_de_compra.png" class="img-fluid mb-5" style="width: 700px; height: auto;" alt="Orden de Compra">
    </div><div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Usuario</th>
                    <th scope="col">Nombre Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Productos</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{ order.user?.id }}</td>
                    <td>{{ order.user?.firstName }} {{ order.user?.lastName }}</td>
                    <td>{{ order.user?.email }}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li *ngFor="let item of order.items">{{ item.product.name }} (x{{ item.quantity }})</li>
                        </ul>
                    </td>
                    <td>$ {{ order.totalAmount | number:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
