<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="mb-4"><strong>Sobre Nosotros</strong></h3>
                    <p>
                        Bienvenidos a SkinsMask, donde ofrecemos las mejores máscaras personalizadas para tus eventos,
                        fiestas y ocasiones especiales. Nos enorgullecemos de ofrecer productos de alta calidad y un
                        servicio excepcional al cliente.
                    </p>
                    <hr>
                    <h3 class="mb-4"><strong>Nuestra Misión</strong></h3>
                    <p>
                        Nuestra misión es proporcionar máscaras únicas y de alta calidad que permitan a nuestros
                        clientes expresar su individualidad y creatividad. Nos esforzamos por ofrecer productos que no
                        solo sean estéticamente agradables sino también cómodos y seguros de usar.
                    </p>
                    <hr>
                    <h3 class="mb-4"><strong>Nuestro Equipo</strong></h3>
                    <p>
                        Contamos con un equipo de diseñadores talentosos y artesanos dedicados que trabajan arduamente
                        para crear las máscaras más innovadoras y detalladas del mercado. Cada miembro de nuestro equipo
                        comparte una pasión por la creatividad y la excelencia.
                    </p>
                    <hr>
                    <h3 class="mb-4"><strong>Contacto</strong></h3>
                    <p>
                        Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nosotros a
                        través de nuestro formulario de contacto o llamándonos directamente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>