/*
app.component.html: Este archivo contiene el HTML de la aplicación.
Es aquí donde se define la estructura visual de la aplicación,
incluyendo los elementos HTML, sus atributos y su contenido.

Funcionalidad:
- Incluye el componente app-nav, que contiene la barra de navegación de la aplicación.
- Incluye el componente app-footer, que contiene el pie de página de la aplicación.
- Incluye el componente router-outlet, que es el contenedor de las vistas de la aplicación.
- El router-outlet es un componente especial que se utiliza para cargar las vistas de la aplicación
de acuerdo a la ruta que se esté visitando.
*/

<app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer></app-footer>