<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h2>Lista de Productos</h2>
            <hr>
            <div *ngIf="products && products.length > 0; else noData">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price | number : '1.0-0' }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="modificar(product)">Modificar</button>
                                <button class="btn btn-danger" (click)="eliminar(product)">Eliminar</button>
                                <button class="btn btn-success" (click)="addProductToCart(product)">Agregar al
                                    Carrito</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #noData>
                <p>No hay datos disponibles</p>
            </ng-template>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3>{{ isEditMode ? 'Modificar Producto' : 'Agregar Producto' }}</h3>
            <form (ngSubmit)="submitForm()">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" [(ngModel)]="productForm.name" name="name" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <label for="description">Descripción:</label>
                    <input type="text" id="description" [(ngModel)]="productForm.description" name="description"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="price">Precio:</label>
                    <input type="number" id="price" [(ngModel)]="productForm.price" name="price" class="form-control"
                        required>
                </div>


                <div class="form-group">
                    <label for="imageUrl">URL de la Imagen:</label>
                    <input type="text" id="imageUrl" [(ngModel)]="productForm.imageUrl" name="imageUrl"
                        class="form-control" required>
                </div>


                <div class="container mt-4">
                    <h2>Subir Imagen</h2>
                    <div>
                        <label class="btn btn-primary">
                            <input type="file" accept="images/*" style="display: none;" (change)="changeInput($event)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                            </svg>
                            Subir Imagen
                        </label>
                    </div>
                </div>
                <br>

                <div>
                    @for (image of images (); track image) {
                    <div>
                        <p>{{image.name}}</p>
                        <picture>
                            <img src="{{image.url}}" [alt]="image.name" loading="lazy" class="small-image">
                        </picture>
                    </div>
                    }
                </div>



                <br><br><br>
                <button type="submit" class="btn btn-primary mt-2">{{ isEditMode ? 'Modificar' : 'Agregar' }}</button>
            </form>
        </div>
    </div>
</div>