<div class="container mt-5">
    <br>
    <div class="text-center">
        <h2 class="section-title mb-4">+ Agregar Producto 🏯</h2>
    </div>
    <br>
    <form (ngSubmit)="submitForm()" [ngClass]="{ 'loading': loading }">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="productForm.name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="productForm.description"
                name="description" required>
        </div>
        <div class="form-group">
            <label for="price">Precio:</label>
            <input type="number" class="form-control" id="price" [(ngModel)]="productForm.price" name="price" required>
        </div>
        <div class="form-group">
            <label for="image">Subir Imagen:</label>
            <input type="file" class="form-control-file" id="image" (change)="changeInput($event)">
            <div *ngIf="imagePreview" class="mt-2">
                <img [src]="imagePreview" alt="Vista previa de la imagen" class="img-thumbnail" width="200">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loading">Guardar</button>
    </form>
    <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
    </div>

    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="section-title mb-4">Listado de Productos&nbsp; 👺</h2>
                </div>
                <br>
                <div *ngIf="products.length === 0" class="alert alert-info">
                    No hay productos disponibles.
                </div>
                <table class="table table-striped" *ngIf="products.length > 0">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td><img [src]="product.imageUrl" alt="{{ product.name }}" class="img-thumbnail"
                                    style="width: 50px;"></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>
                                <button class="btn btn-warning btn-sm" (click)="modificar(product)">Modificar</button>
                                <button class="btn btn-danger btn-sm" (click)="eliminar(product)">Eliminar</button>
                                
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>