/* Añadir estilos específicos para el formulario de registro */
.container {
    padding-top: 50px;
}

h2 {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    width: 100%;
}